<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Customer" type="hu.uni.miskolc.iit.swtest.registrar.model.Customer"/>
		<typeAlias alias="Product" type="hu.uni.miskolc.iit.swtest.registrar.model.Product"/>
		<typeAlias alias="Positions" type="hu.uni.miskolc.iit.swtest.registrar.model.Positions"/>
		<typeAlias alias="Box" type="hu.uni.miskolc.iit.swtest.registrar.model.Box"/>
		<typeAlias alias="Order" type="hu.uni.miskolc.iit.swtest.registrar.model.Order"/>
		<typeAlias alias="Cargo" type="hu.uni.miskolc.iit.swtest.registrar.model.Cargo"/>
		<typeAlias alias="Address" type="hu.uni.miskolc.iit.swtest.registrar.model.Address"/>
	</typeAliases>
	<typeHandlers>
	</typeHandlers>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="hu/uni/miskolc/iit/swtest/registrar/persist/mysql/mapper/CustomerMapper.xml" />
		<mapper resource="hu/uni/miskolc/iit/swtest/registrar/persist/mysql/mapper/ProductMapper.xml" />
		<mapper resource="hu/uni/miskolc/iit/swtest/registrar/persist/mysql/mapper/AddressMapper.xml" />
		<!--  
		<mapper resource="hu/uni/miskolc/iit/swtest/registrar/persist/mysql/mapper/PositionsMapper.xml" />
		<mapper resource="hu/uni/miskolc/iit/swtest/registrar/persist/mysql/mapper/BoxMapper.xml" />
		<mapper resource="hu/uni/miskolc/iit/swtest/registrar/persist/mysql/mapper/OrderMapper.xml" />
		<mapper resource="hu/uni/miskolc/iit/swtest/registrar/persist/mysql/mapper/CargoMapper.xml" />
		-->
	</mappers>
</configuration>