<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="hu.uni.miskolc.iit.swtest.registrar.persist.mysql.mapper.AddressMapper">

	<resultMap type="Address" id="AddressResultMap">
		<id property="id" column="id" />
		<result property="country" column="country" />
		<result property="city" column="city" />
		<result property="street" column="street" />
		<result property="number" column="number" />
	</resultMap>

	<select id="selectAddresses" resultMap="AddressResultMap">
		select * from addressTable;
	</select>

	<select id="selectAddress" resultMap="AddressResultMap">
		select * from addressTable where id = #{id};
	</select>
	
	<select id="selectAddressesByCountry" resultMap="AddressResultMap">
		select * from addressTable where country = #{country};
	</select>
	
	<select id="selectAddressesByCity" resultMap="AddressResultMap">
		select * from addressTable where city = #{city};
	</select>
	
	<select id="selectAddressByAddress" resultMap="AddressResultMap">
		select * from addressTable where country = #{country} and city = #{city} and street = #{street} and number = #{number};
	</select>
	
	<insert id="recordAddress">
        insert into addressTable (id, country,city,street,number) values (#{id}, #{country}, #{city}, #{street}, #{number});
    </insert>
    
    <update id="updateAddress" parameterType="Address">
    	update addressTable set country = #{address.country}, city = #{address.city}, street = #{address.street}, number = #{address.number} where id = #{address.id};
    </update>
    
    <delete id="deleteAddress" parameterType="Address">
        delete from addressTable where id = #{address.id};
    </delete>

</mapper>