<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="hu.uni.miskolc.iit.swtest.registrar.persist.mysql.mapper.BoxMapper">

	<resultMap type="Box" id="BoxResultMap">
		<id property="id" column="id" />
		<result property="count" column="count" />
		<result property="boxSize" column="boxSize"
			javaType="hu.uni.miskolc.iit.swtest.registrar.model.Box.BoxSize"
			jdbcType="VARCHAR" />
		<association property="product" 
			resultMap="hu.uni.miskolc.iit.swtest.registrar.persist.mysql.mapper.ProductMapper.ProductResultMap"/>
		<!-- 
		<association property="product" 
			javaType="hu.uni.miskolc.iit.swtest.registrar.model.Product"
			select="queryProductsForBox"/>
		 --> 
	</resultMap>
<!-- 
	<select id="queryProductsForBox" resultMap="hu.uni.miskolc.iit.swtest.registrar.persist.mysql.mapper.ProductMapper.ProductResultMap">
		select p.id, p.category, p.name, p.manufacturer, p.sizex, p.sizey, p.sizez, p.weight, p.restriction
		from productTable p join boxTable b on p.id = b.product;
	</select>
 -->
 
	<select id="selectBoxes" resultMap="BoxResultMap">
		select 
	 	  p.id 				as productNumber,
		  p.category		as category,
		  p.name 			as name,
		  p.manufacturer	as manufacturer,
		  p.sizex 			as width,
		  p.sizey 			as height,
		  p.sizez 			as depth,
		  p.weight 			as weight,
		  p.restriction 	as restriction,
		  b.id 				as id,
		  b.count			as count,
		  b.boxSize 		as boxSize
	 	from boxTable b inner join productTable p
	 	on b.product = p.id
	 	where b.id = #{id};
	</select>

	<select id="selectBoxesByProduct" resultMap="BoxResultMap">
		select * from
		boxTable where productId = #{product.id};
	</select>

	<select id="selectBoxesByWeight" resultMap="BoxResultMap">
		select * from
		boxTable;
	</select>

	<select id="selectBoxesByBoxSize" resultMap="BoxResultMap">
		select * from
		boxTable where boxSize = #{boxSize};
	</select>

	<select id="selectBoxByID" resultMap="BoxResultMap">
		select * from boxTable
		where id = #{id};
	</select>

	<insert id="recordBox">
		insert into box (product, count, boxSize) values
		(#{product},#{count},#{boxSize});
	</insert>

	<update id="updateBox" parameterType="Box">
		delete from boxTable where
		id = #{box.id};
	</update>

	<delete id="deleteBox" parameterType="Box">
		delete from boxTable where
		id = #{box.id};
	</delete>

</mapper>