<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="hu.uni.miskolc.iit.swtest.registrar.persist.mysql.mapper.BoxMapper">

	<resultMap type="Box" id="BoxResultMap">
		<id property="id" column="id" />
		<result property="count" column="count" />
		<result property="boxSize" column="boxSize"
			javaType="hu.uni.miskolc.iit.swtest.registrar.model.Box.BoxSize"
			jdbcType="VARCHAR" />
		<association property="product" column="product"
			javaType="hu.uni.miskolc.iit.swtest.registrar.model.Product"
			resultMap="hu.uni.miskolc.iit.swtest.registrar.persist.mysql.mapper.ProductMapper.ProductResultMap" />
			<!-- Boxsize?? -->
	</resultMap>

	<select id="selectBoxes" resultMap="BoxResultMap">
		select * from boxTable;
	</select>

	<select id="selectBoxesByProduct" resultMap="BoxResultMap">
		select * from
		boxTable where productId = #{product.id};
	</select>

	<select id="selectBoxesByWeight" resultMap="BoxResultMap">
		select * from
		boxTable;
	</select>

	<select id="selectBoxesByBoxSize" resultMap="BoxResultMap">
		select * from
		boxTable where boxSize = #{boxSize};
	</select>

	<select id="selectBoxByID" resultMap="BoxResultMap">
		select * from boxTable
		where id = #{id};
	</select>

	<insert id="recordBox">
		insert into box (product, count, boxSize) values
		(#{product},#{count},#{boxSize});
	</insert>

	<update id="updateBox" parameterType="Box">
		delete from boxTable where
		id = #{box.id};
	</update>

	<delete id="deleteBox" parameterType="Box">
		delete from boxTable where
		id = #{box.id};
	</delete>

</mapper>