<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hu.uni.miskolc.iit.swtest.registrar.persist.mysql.mapper.CustomerMapper">

	<resultMap type="Customer" id="CustomerResultMap">
		<id property="customerID" column="id"/>
		<result property="name" column="name"/>
		<!-- <result property="address" column="address" javaType="hu.uni.miskolc.iit.swtest.registrar.model.Address" jdbcType="VARCHAR"/> -->
	</resultMap>

	<select id="selectCustomers" resultMap="CustomerResultMap">
		select * from customerTable;
	</select>
	
	<select id="selectCustomersByName" resultMap="CustomerResultMap">
		select * from customerTable where name like #{name};
	</select>
	
	<select id="selectCustomersByAddress" resultMap="CustomerResultMap">
		select * from customerTable where address = '#{address.country}:#{address.city}:#{address.street}:#{address.number}';
	</select>
	
	<select id="selectCustomersByCountry" resultMap="CustomerResultMap">
		select * from customerTable where address like #{country};
	</select>
	
	<select id="selectCustomersByCity" resultMap="CustomerResultMap">
		select * from customerTable where address like '#{country}:#{city}';
	</select>
	
	<select id="selectCustomersByStreet" resultMap="CustomerResultMap">
		select * from customerTable where address like '#{country}:#{city}:#{street}';
	</select>
	
	<select id="selectCustomerByID" resultMap="CustomerResultMap">
		select * from customerTable where id = #{id};
	</select>
	
	<update id="updateCustomer">
		update customerTable set name = #{customer.name} where id = #{customer.customerID};
	</update>
	
	<delete id="deleteCustomer">
		delete from customerTable where id = #{customer.customerID};
	</delete>

</mapper>