/registrar.log
/registrarController.log
/registrarModel.log
/registrarPersist.log
/registrarPersistImpl.log
/registrarService.log
/registrarServiceImpl.log
/registrarUtil.log
/registrarWeb.log